<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Brugeroversigt</title>
    <link th:href="@{/all.css}" href="../static/all.css" rel="stylesheet">
    <link href="../static/all.css" rel="stylesheet">

</head>
<body>

<div class="loghead">
  <form>
    <div>
      <a class="logoutbutton" href="/logout" target="_blank">Logout</a>
      <a class="logoutbutton" href="/brugeroversigt" target="_blank">Brugeroversigt</a>
      <a class="logoutbutton" href="/projektoversigt" target="_blank">Projektoversigt</a>
      Alpha Solutions
    </div>
  </form>
</div>

<div class="nytask">
  <a class="forma" href="/opretnybruger">Opret ny bruger</a>
</div>

    <table>
      <tr>
        <th>Brugernavn</th>
        <th>Bruger Password</th>
        <th>Admin</th>
      </tr>

      <tr th:each="user : ${users}">
        <th th:text="${user.getName()}"></th>
        <th th:text="${user.getPassword()}"></th>
        <th th:unless="${user.getAdmin() == true}">❌</th>
        <th th:if="${user.getAdmin() == true}">✅</th>

        <th>

          <form th:action="@{/updateuser}" method="get">
            <input type="hidden" name="id" th:value="${user.getId()}">
            <button>Opdater</button>
          </form>


          <form th:action="@{/deleteuser}" method="post">
            <input type="hidden" th:name="userId" th:value="${user.getId()}" />
            <button type="submit">Delete  </button>
          </form>
        </th>
      </tr>
    </table>
  </div>
</body>
</html>