<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opgave oversigt</title>
    <link th:href="@{/all.css}" href="../static/all.css" rel="stylesheet">
    <link href="../static/all.css" rel="stylesheet">
</head>
<body>
<div class="loghead">
    <form>
        <div>
            <a class="logoutbutton" href="login.html" target="_blank">Logout</a>
            Alpha Solutions
        </div>
    </form>
</div>
<div class="nytask">
    <form>
        <div>
            <!--<button class="opretnytprojektbutton">Opret nyt projekt</button>-->
            <a class="forma" href="/opretnyopgave">Opret ny opgave</a>
        </div>
    </form>
</div>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Opgavenavn</th>
            <th>Startdato</th>
            <th>Slutdato</th>
            <th>Opdater</th>
            <th>Slet</th>
        </tr>
        </thead>
        <tbody>
        <!-- Trin 1: Gennemløb alle opgaver og vis dem i tabellen -->
        <tr th:each="task : ${tasks}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.name}"></td>
            <td th:text="${task.startDate}"></td>
            <td th:text="${task.endDate}"></td>
            <td>
                <form>
                <!-- Trin 2: Opret link til redigering af en specifik opgave -->
                <a th:action="@{/update{taskId}(taskId=${task.id})}" href="/update">Opdater</a>
                </form>
            </td>
            <td>
                <!-- Trin 3: Opret link til sletning af en specifik opgave -->
                <a th:action="@{/delete{taskId}(taskId=${task.id})}" href="/delete">Slet</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
