<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opgave oversigt</title>
    <link th:href="@{/all.css}" href="../static/all.css" rel="stylesheet">
    <link href="../static/all.css" rel="stylesheet">
</head>
<body>
<div class="loghead">
    <form>
        <div>
            <a class="logoutbutton" href="login.html" target="_blank">Logout</a>
            <a class="logoutbutton" href="/brugeroversigt" target="_blank">Brugeroversigt</a>
            Alpha Solutions
        </div>
    </form>
</div>
<div class="nytask">
            <button type="button" href="/create/task" class="forma">Opret ny opgave</button>
           <!-- th:action="@{/create/task}" method="post"-->
         <!--  <a class="forma" th:href="/create/tasks">Opret ny opgave</a>-->
</div>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Opgavenavn</th>
            <th>Startdato</th>
            <th>Slutdato</th>
            <th>Opdater</th>
            <th>Slet</th>
        </tr>
        </thead>
        <tbody>
        <!-- Gennemløb alle opgaver og vis dem i tabellen -->
        <tr th:each="task : ${tasks}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.name}"></td>
            <td th:text="${task.startDate}"></td>
            <td th:text="${task.endDate}"></td>
            <td>
                <a th:href="@{'/updateTask/' + ${task.id}}">
                    <button>Opdater</button>
                </a>
                <!--<form th:action="@{/updateTask{taskId}(taskId=${task.id})}" method="post">-->
                <!-- Opret link til redigering af en specifik opgave -->
                <!--<button type="submit">Opdater</button>-->
                <!--</form>-->
            </td>
            <td>
                <!-- Opret link til sletning af en specifik opgave -->
                <button type="submit" th:href="@{/delete{taskId}(taskId=${task.id})}" href="/delete">Slet</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
