<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Opret ny opgave</title>
  <link th:href="@{/all.css}" href="../static/all.css" rel="stylesheet">
  <link href="../static/all.css" rel="stylesheet">
</head>
<body>
<h2>Opret opgave</h2>
<div class="opgaveoplysninger">
  <form th:action="@{/task}" method="post">
    <!-- Skjult felt til projekt ID -->
    <input id="proj_id" name="proj_id" type="hidden" th:value="${param.proj_id}">

    <!-- Skjult felt til parent ID. Kun genereret hvis parameter er tilstede -->
    <input id="parent_id" th:if="${param.parent_id != null}" name="parent_id" type="hidden" th:value="${param.parent_id}">

    <!--Indtastningsfelt til oprettelse af opgavetitel -->
    <label for="title">Opgavenavn</label>
    <input type="text" id="title" name="name" required>

    <!--Indtastningsfelt til oprettelse af opgavestartdato -->
    <label for="startDate">Start dato</label>
    <input type="date" id="startDate" name="startDate" required>

    <!--Indtastningsfelt til oprettelse af opgaveslutdato -->
    <label for="endDate">Slut dato</label>
    <input type="date" id="endDate" name="endDate" required>

    <!--Knappen til at oprette opgaven -->
    <button type="submit">Opret</button>
  </form>
  <div style="color: red" th:if="${param.invalidName}">
    Input er ugyldigt.
  </div>
</div>
</body>
</html>