<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Opret bruger</title>
    <link th:href="@{/all.css}" href="../static/all.css" rel="stylesheet">
    <link href="../static/all.css" rel="stylesheet">

</head>
<body>

<--Header-->

<h2>Opret ny bruger</h2>
    <div class="projektoplysniger"¨>
        <form action="opret-bruger" method="post">
            <label for="name">Brugernavn</label>
            <input type="text" id="name" name="brugernavn">
            <label for="password" method="post">Password</label>
            <input type="text" id="password" name="password">
            <label for="Admin" method="post">Admin</label>
            <input type="checkbox" id="admin" name="admin"><br>
            <input type="submit" value="Submit">

        </form>
        <div style="color: red" th:if="${param.invalidName}">
            Input er ugyldigt.
        </div>
        <div style="color: yellow" th:if="${param.success}">
            Projekt er tilføjet
        </div>
    </div>
</body>
</html>