<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Opret ny opgave</title>
  <link th:href="@{/all.css}" href="../static/all.css" rel="stylesheet">
  <link href="../static/all.css" rel="stylesheet">
</head>
<body>
<h2>Opret opgave</h2>
<div class="opgaveoplysninger">
  <form th:action="@{/task}" method="post">
    <!--Indtastningsfelt til oprettelse af opgavetitel -->
    <label for="title">Opgavenavn</label>
    <input type="text" id="title" name="name" required>

    <!--Indtastningsfelt til oprettelse af opgavestartdato -->
    <label for="startDate">Start dato</label>
    <input type="date" id="startDate" name="startDate" required>

    <!--Indtastningsfelt til oprettelse af opgaveslutdato -->
    <label for="endDate">Slut dato</label>
    <input type="date" id="endDate" name="endDate" required>

    <!--Knappen til at oprette opgaven -->
    <button type="submit">Opret</button>
  </form>
</div>
</body>
</html>