<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Projektoversigt</title>
    <link th:href="@{/all.css}" href="../static/all.css" rel="stylesheet">
    <link href="../static/all.css" rel="stylesheet">
</head>
<body>
<div class="loghead">
    <form>
        <div>
            <a class="logoutbutton" href="/logout" target="_blank">Logout</a>
            <a class="logoutbutton" href="/brugeroversigt" target="_blank">Brugeroversigt</a>
            <a class="logoutbutton" href="/projektoversigt" target="_blank">Projektoversigt</a>
            Alpha Solutions
        </div>
    </form>
</div>
<div class="nytask">
    <a class="forma" th:if="${user.admin}" th:href="@{'/nyt_projekt'}">Opret nyt projekt</a>
</div>
<div class="container">
    <!-- Table with extra functions for admins -->
    <table th:if="${user.admin}">
        <thead>
            <tr>
                <th>ID</th>
                <th>projektname</th>
                <th>Startdato</th>
                <th>Slutdato</th>
                <th>Er færdig</th>
                <th>Opdater</th>
                <th>done</th>
            </tr>
        </thead>
        <tbody>
        <!-- Gennemløb alle opgaver og vis dem i tabellen -->
        <tr th:each="projects : ${projects}">
            <td th:text="${projects.id}"></td>
            <td><a th:text="${projects.name}" th:href="@{'/tasks'(proj_id=${projects.id})}"></a></td>
            <td th:text="${projects.startDate}"></td>
            <td th:text="${projects.slutDate}"></td>
            <td th:text="${projects.isDone}"></td>
            <td>
                <a th:href="@{'/opdater_projekt'(id=${projects.id})}">
                    <button>Opdater</button>
                </a>
                <!--<form th:action="@{/updateTask{taskId}(taskId=${task.id})}" method="post">-->
                <!-- Opret link til redigering af en specifik opgave -->
                <!--<button type="submit">Opdater</button>-->
                <!--</form>-->
            </td>
            <td>
                <!-- Opret link til sletning af en specifik opgave -->
                <button type="submit" th:href="@{/delete{projectsId}(projectsId=${projects.id})}" href="/isDone">Done</button>
            </td>
        </tr>
        </tbody>
    </table>



    <!-- Table without extra functions for admins -->
    <table th:if="${user.admin == false}">
        <thead>
        <tr>
            <th>ID</th>
            <th>projektname</th>
            <th>Startdato</th>
            <th>Slutdato</th>
            <th>Er færdig</th>
        </tr>
        </thead>
        <tbody>
        <!-- Gennemløb alle opgaver og vis dem i tabellen -->
        <tr th:each="projects : ${projects}">
            <td th:text="${projects.id}"></td>
            <td><a th:text="${projects.name}" th:href="@{'/tasks'(proj_id=${projects.id})}"></a></td>
            <td th:text="${projects.startDate}"></td>
            <td th:text="${projects.slutDate}"></td>
            <td th:text="${projects.isDone}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>