<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Opdater opgave</title>
  <link th:href="@{/all.css}" href="../static/all.css" rel="stylesheet">
  <link href="../static/all.css" rel="stylesheet">
</head>
<body>
<h2>Opdater opgave</h2>
<form th:action="@{/tasks/update/{taskId}(taskId=${task.id})}" method="post" th:object="${task}">
  <!-- Trin 7: Skjult inputfelt til at opbevare opgave-ID -->
  <input type="hidden" th:field="${id}">

  <!-- Trin 8: Indtastningsfelt til redigering af opgavetitel -->
  <label for="editTaskTitle">Opgavenavn</label>
  <input type="text" id="editTaskTitle" th:field="${name}" required>

  <!-- Trin 9: Indtastningsfelt til redigering af opgavestartdato -->
  <label for="editStartDate">Start dato</label>
  <input type="date" id="editStartDate" th:field="${startDate}" required>

  <!-- Trin 10: Indtastningsfelt til redigering af opgavestartdato -->
  <label for="editEndDate">Slut dato</label>
  <input type="date" id="editEndDate" th:field="${endDate}" required>

  <!-- Trin 10: Knappen til at opdatere opgaven -->
  <button type="submit">Opdater</button>
</form>
</body>
</html>